body{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-image: url(https://cdn.dribbble.com/users/1514670/screenshots/11832205/media/a695bccedcec519449ce7b8de2017f8e.jpg);
	background-repeat: no-repeat;
	background-size: 1000px 600px;
}

.monstres{
	display: flex;
	justify-content: space-around;
	text-align: center;
	background-color: #F5F5DC;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 5px;
	margin-top: 90px;
	width: 800px;
	border: 2px solid black;
	height: 200px;
}

#infos{
	display: flex;
	justify-content: space-around;
	text-align: center;
	background-color: #F5F5DC;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 800px;
	border: 2px solid black;
	height: 20px;
}

.monstre{
	direction: column;
	justify-content: space-around;
	text-align: center;
	background-color: #F5F5DC;
	margin-top: 25px;
	width: 150px;
	border: 2px solid black;
	height: 150px;
}

#monstre1{
	opacity: 0;
	background-image: url("images/monstre1.png");
}

#monstre2{
	opacity: 0;
}

#monstre3{
	opacity: 0;
}

.heros{
	display: flex;
	justify-content: space-around;
	text-align: center;
	background-color: #FFE4C4;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 5px;
	width: 800px;
	border: 2px solid black;
	height: 200px;
}

.hero{
	direction: column;
	justify-content: space-around;
	text-align: center;
	background-color: #FFE4C4;
	margin-top: 25px;
	width: 150px;
	border: 2px solid black;
	height: 150px;
}

.HP{
	display: flex;
	direction: row;
}

.MP{
	display: flex;
	direction: row;
}

.ATT{
	display: flex;
	direction: row;
}

.DEF{
	display: flex;
	direction: row;
}

.COUT{
	display: flex;
	direction: row;
}